body {
  background-image: url('carlo.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 5s ease-in-out; 
  color: white; 
}

.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:space-between;
}

.navbar li {
  margin-right: 20px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}

.navbar a:hover {
  background-color: #555;
}

.content {
  margin: 30px;
}

h1.title {
  font-size: 36px;
  text-align: center; 
}

p {
  font-size: 18px;
}

img {
  display: block;
  margin-top: 20px;
}


@keyframes changeBackground {
  0% {
    background-image: url('1717717.jpg');
  }
  50% {
    background-image: url('2287608.jpg');
  }
  100% {
    background-image: url('carlo.jpg');
  }
}


body {
  animation: changeBackground 5s infinite; 
}
